body {
  margin: 0;
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: large;
  color: black
  }

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #000125;
  padding: 1em 0;
  }

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
  }

.navbar a:hover {
  background-color: #575757;
  border-radius: 5px;
  }

.style {
  background-color:whitesmoke
  }

.centered {
  text-align: center;
}

ul {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}

ol {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}